body{
    font-family: 'Inter', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login{
    background: white;
    padding: 2rem;
    border-radius: 12px;
    width: 320px;
    text-align: center;
}
h2{
    margin-bottom: 16px;
    color: #333;
    user-select: none;
}
.gender {
    text-align: left;
    margin-bottom: 16px;
}
.input{
    text-align: left;
    margin-bottom: 16px;
    user-select: none;
}
.input label{
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}
.remember {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    color: #555;
    margin-bottom: 16px;
}
button{
    width: 100%;
    background-color: #ff5722;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-size: 16px;
    cursor:pointer;
    transition: 0.3s;
    user-select: none;
}
button:hover {
    background-color: #e64a19;
}
.gender input[type="radio"]
{
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #ff5722;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}
.gender input[type="radio"]:checked
{
    background-color: #ff5722;
    border: 2px solid white;
    box-shadow: 0 0 0 2px #ff5722;
}
.remember input[type="checkbox"]
{
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #ff5722;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}
.remember input[type="checkbox"]:checked
{
    background-color: #ff5722;
    border-color: #ff5722 ;
}
.remember input[type="checkbox"]::after
{
    content: "✔";
    font-size: 14px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.remember input[typut="checkbox"]:checked::after
{
    display: block;
}
.remember label{
    user-select: none;
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 5px;
}
.gender label{
    user-select: none;
    cursor: pointer;
}
.input input{
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    user-select: none;
}